---
---

{% include header.html %}

  <!-- contenido -->
  <section class="greend">
    <div class="container twt">
      <div class="row align-items-center">
        <div class="col-md-3" id="deco-4"></div>
        <div class="col-md-9 pd">
          <h2>Actividades Adicionales</h2>
          <br>
          <p>A partir de mi paso por diferentes instituciones, además de los intereses propios he tenido la oportunidad de participar de diferentes maneras en Talleres y Programas, añadiendo de esta manera habilidades blandas a las competencias, conocimiento y experiencia que intervienen en mi trabajo.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- franja 1 -->
  <section class="greend">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">

                    <div id="carrusel-oratoria" class="carousel slide" data-bs-ride="carousel">

                        <div class="carousel-indicators">
                            <button type="button"
                                    data-bs-target="#carrusel-oratoria"
                                    data-bs-slide-to="0"
                                    class="active"
                                    aria-current="true"
                                    aria-label="Slide 0"></button>

                            <button type="button"
                                    data-bs-target="#carrusel-oratoria"
                                    data-bs-slide-to="1"
                                    aria-label="Slide 1"></button>

                        </div>

                        <div class="grs carousel-inner text-center" style="height: 50vh; border-radius: 20px; padding: 15px 0px;">

                            <div class="carousel-item active h-100">
                                <img src="/images/galeria/concurso-realidad1.JPG"
                                    class="galeria-item img-fluid h-100"
                                    style="width: auto; max-width: 100%; object-fit: contain;"
                                    alt="Slide 0">
                            </div>

                            <div class="carousel-item h-100">
                                <img src="/images/galeria/concurso-realidad2.JPG"
                                    class="galeria-item img-fluid h-100"
                                    style="width: auto; max-width: 100%; object-fit: contain;"
                                    alt="Slide 1">
                            </div>

                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#carrusel-oratoria" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>

                        <button class="carousel-control-next" type="button" data-bs-target="#carrusel-oratoria" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                            <span class="visually-hidden">Next</span>
                        </button>

                    </div>

                    <br>
                    <h3>Concurso de Oratoria y Realidad Nacional</h3>
                    <p>He obtenido el primer lugar al presentar la realidad del distrito en el campo nacional y el potencial humano para realizar el cambio, esta presentación requirió mucha preparación dado el elevado nivel de competencia.</p>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">

                    <div id="carrusel-presentaciones" class="carousel slide" data-bs-ride="carousel">

                        <div class="carousel-indicators">
                            <button type="button"
                                    data-bs-target="#carrusel-presentaciones"
                                    data-bs-slide-to="0"
                                    class="active"
                                    aria-current="true"
                                    aria-label="Slide 0"></button>

                            <button type="button"
                                    data-bs-target="#carrusel-presentaciones"
                                    data-bs-slide-to="1"
                                    aria-label="Slide 1"></button>

                            <button type="button"
                                    data-bs-target="#carrusel-presentaciones"
                                    data-bs-slide-to="2"
                                    aria-label="Slide 2"></button>

                            <button type="button"
                                    data-bs-target="#carrusel-presentaciones"
                                    data-bs-slide-to="3"
                                    aria-label="Slide 3"></button>

                            <button type="button"
                                    data-bs-target="#carrusel-presentaciones"
                                    data-bs-slide-to="4"
                                    aria-label="Slide 4"></button>

                            <button type="button"
                                    data-bs-target="#carrusel-presentaciones"
                                    data-bs-slide-to="5"
                                    aria-label="Slide 5"></button>

                            <button type="button"
                                    data-bs-target="#carrusel-presentaciones"
                                    data-bs-slide-to="6"
                                    aria-label="Slide 6"></button>

                            <button type="button"
                                    data-bs-target="#carrusel-presentaciones"
                                    data-bs-slide-to="7"
                                    aria-label="Slide 7"></button>

                            <button type="button"
                                    data-bs-target="#carrusel-presentaciones"
                                    data-bs-slide-to="8"
                                    aria-label="Slide 8"></button>

                        </div>

                        <div class="grs carousel-inner text-center" style="height: 50vh; border-radius: 20px; padding: 15px 0px;">

                            <div class="carousel-item active h-100">
                                <img src="/images/galeria/otros-cult (1).JPG"
                                    class="galeria-item img-fluid h-100"
                                    style="width: auto; max-width: 100%; object-fit: contain;"
                                    alt="Slide 0">
                            </div>

                            <div class="carousel-item active h-100">
                                <img src="/images/galeria/otros-cult (2).jpg"
                                    class="galeria-item img-fluid h-100"
                                    style="width: auto; max-width: 100%; object-fit: contain;"
                                    alt="Slide 1">
                            </div>

                            <div class="carousel-item active h-100">
                                <img src="/images/galeria/culturales (1).JPG"
                                    class="galeria-item img-fluid h-100"
                                    style="width: auto; max-width: 100%; object-fit: contain;"
                                    alt="Slide 2">
                            </div>

                            <div class="carousel-item active h-100">
                                <img src="/images/galeria/otros-cult (3).jpg"
                                    class="galeria-item img-fluid h-100"
                                    style="width: auto; max-width: 100%; object-fit: contain;"
                                    alt="Slide 3">
                            </div>

                            <div class="carousel-item h-100">
                                <img src="/images/galeria/culturales (2).jpg"
                                    class="galeria-item img-fluid h-100"
                                    style="width: auto; max-width: 100%; object-fit: contain;"
                                    alt="Slide 4">
                            </div>

                            <div class="carousel-item h-100">
                                <img src="/images/galeria/culturales (3).jpg"
                                    class="galeria-item img-fluid h-100"
                                    style="width: auto; max-width: 100%; object-fit: contain;"
                                    alt="Slide 5">
                            </div>

                            <div class="carousel-item h-100">
                                <img src="/images/galeria/culturales (4).jpg"
                                    class="galeria-item img-fluid h-100"
                                    style="width: auto; max-width: 100%; object-fit: contain;"
                                    alt="Slide 6">
                            </div>

                            <div class="carousel-item h-100">
                                <img src="/images/galeria/culturales (5).jpg"
                                    class="galeria-item img-fluid h-100"
                                    style="width: auto; max-width: 100%; object-fit: contain;"
                                    alt="Slide 7">
                            </div>

                            <div class="carousel-item h-100">
                                <img src="/images/galeria/culturales (6).JPG"
                                    class="galeria-item img-fluid h-100"
                                    style="width: auto; max-width: 100%; object-fit: contain;"
                                    alt="Slide 8">
                            </div>

                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#carrusel-presentaciones" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>

                        <button class="carousel-control-next" type="button" data-bs-target="#carrusel-presentaciones" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                            <span class="visually-hidden">Next</span>
                        </button>

                    </div>

                    <br>
                    <h3>Presentaciones Culturales</h3>
                    <p>A lo largo de mi formación y como voluntario en Alemania he sido participe de diferentes presentaciones culturales como danza y actuación, gracias a la potencia de mi voz, destaco al interpretar personajes autoritarios.</p>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </section>

  <!-- franja 2 -->
  <section class="greend">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">

                    <div id="carrusel-municipio" class="carousel slide" data-bs-ride="carousel">

                        <div class="carousel-indicators">
                            <button type="button"
                                    data-bs-target="#carrusel-municipio"
                                    data-bs-slide-to="0"
                                    class="active"
                                    aria-current="true"
                                    aria-label="Slide 0"></button>

                            <button type="button"
                                    data-bs-target="#carrusel-municipio"
                                    data-bs-slide-to="1"
                                    aria-label="Slide 1"></button>

                            <button type="button"
                                    data-bs-target="#carrusel-municipio"
                                    data-bs-slide-to="2"
                                    aria-label="Slide 2"></button>

                        </div>

                        <div class="grs carousel-inner text-center" style="height: 50vh; border-radius: 20px; padding: 15px 0px;">

                            <div class="carousel-item active h-100">
                                <img src="/images/galeria/municipio (1).jpg"
                                    class="galeria-item img-fluid h-100"
                                    style="width: auto; max-width: 100%; object-fit: contain;"
                                    alt="Slide 0">
                            </div>

                            <div class="carousel-item h-100">
                                <img src="/images/galeria/municipio (2).jpg"
                                    class="galeria-item img-fluid h-100"
                                    style="width: auto; max-width: 100%; object-fit: contain;"
                                    alt="Slide 1">
                            </div>

                            <div class="carousel-item h-100">
                                <img src="/images/galeria/municipio (3).jpg"
                                    class="galeria-item img-fluid h-100"
                                    style="width: auto; max-width: 100%; object-fit: contain;"
                                    alt="Slide 2">
                            </div>

                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#carrusel-municipio" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>

                        <button class="carousel-control-next" type="button" data-bs-target="#carrusel-municipio" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                            <span class="visually-hidden">Next</span>
                        </button>

                    </div>

                    <br>
                    <h3>Municipio Escolar</h3>
                    <p>Me he desempeñado como regidor de derechos del niño, niña y adolescente en el colegio 6069 Pachacutec, durante el año 2013, teniendo la oportunidad de escuchar a diferentes jóvenes, aportar en mi institución y representarla al asistir a diferentes actividades propias del cargo.</p>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">

                    <div id="carrusel-carlas" class="carousel slide" data-bs-ride="carousel">

                        <div class="carousel-indicators">
                            <button type="button"
                                    data-bs-target="#carrusel-carlas"
                                    data-bs-slide-to="0"
                                    class="active"
                                    aria-current="true"
                                    aria-label="Slide 0"></button>

                            <button type="button"
                                    data-bs-target="#carrusel-carlas"
                                    data-bs-slide-to="1"
                                    aria-label="Slide 1"></button>

                            <button type="button"
                                    data-bs-target="#carrusel-carlas"
                                    data-bs-slide-to="2"
                                    aria-label="Slide 2"></button>

                            <button type="button"
                                    data-bs-target="#carrusel-carlas"
                                    data-bs-slide-to="3"
                                    aria-label="Slide 3"></button>

                            <button type="button"
                                    data-bs-target="#carrusel-carlas"
                                    data-bs-slide-to="4"
                                    aria-label="Slide 4"></button>

                        </div>

                        <div class="grs carousel-inner text-center" style="height: 50vh; border-radius: 20px; padding: 15px 0px;">

                            <div class="carousel-item active h-100">
                                <img src="/images/galeria/crea (1).JPG"
                                    class="galeria-item img-fluid h-100"
                                    style="width: auto; max-width: 100%; object-fit: contain;"
                                    alt="Slide 0">
                            </div>

                            <div class="carousel-item h-100">
                                <img src="/images/galeria/crea (2).jpg"
                                    class="galeria-item img-fluid h-100"
                                    style="width: auto; max-width: 100%; object-fit: contain;"
                                    alt="Slide 1">
                            </div>

                            <div class="carousel-item h-100">
                                <img src="/images/galeria/crea (3).jpg"
                                    class="galeria-item img-fluid h-100"
                                    style="width: auto; max-width: 100%; object-fit: contain;"
                                    alt="Slide 2">
                            </div>

                            <div class="carousel-item h-100">
                                <img src="/images/galeria/crea (4).JPG"
                                    class="galeria-item img-fluid h-100"
                                    style="width: auto; max-width: 100%; object-fit: contain;"
                                    alt="Slide 3">
                            </div>

                            <div class="carousel-item h-100">
                                <img src="/images/galeria/crea (5).JPG"
                                    class="galeria-item img-fluid h-100"
                                    style="width: auto; max-width: 100%; object-fit: contain;"
                                    alt="Slide 4">
                            </div>

                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#carrusel-carlas" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>

                        <button class="carousel-control-next" type="button" data-bs-target="#carrusel-carlas" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                            <span class="visually-hidden">Next</span>
                        </button>

                    </div>

                    <br>
                    <h3>Charlas y Talleres en los petalos del CREA</h3>
                    <p>Al participar en la Asociación Familias En Acción, contribuí en los talleres de agricultura urbana, los mismos que beneficiaron a muchas personas y tuvieron un éxito considerable.</p>
                    <br><br>
                </div>
            </div>
        </div>
      </div>
    </div>
  </section>

  <!-- franja 3 -->
  <section class="greend">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">

                    <div id="carrusel-club" class="carousel slide" data-bs-ride="carousel">

                        <div class="carousel-indicators">
                            <button type="button"
                                    data-bs-target="#carrusel-club"
                                    data-bs-slide-to="0"
                                    class="active"
                                    aria-current="true"
                                    aria-label="Slide 0"></button>

                            <button type="button"
                                    data-bs-target="#carrusel-club"
                                    data-bs-slide-to="1"
                                    aria-label="Slide 1"></button>

                            <button type="button"
                                    data-bs-target="#carrusel-club"
                                    data-bs-slide-to="2"
                                    aria-label="Slide 2"></button>

                        </div>

                        <div class="grs carousel-inner text-center" style="height: 50vh; border-radius: 20px; padding: 15px 0px;">

                            <div class="carousel-item active h-100">
                                <img src="/images/galeria/super20 (1).jpg"
                                    class="galeria-item img-fluid h-100"
                                    style="width: auto; max-width: 100%; object-fit: contain;"
                                    alt="Slide 0">
                            </div>

                            <div class="carousel-item h-100">
                                <img src="/images/galeria/super20 (2).jpg"
                                    class="galeria-item img-fluid h-100"
                                    style="width: auto; max-width: 100%; object-fit: contain;"
                                    alt="Slide 1">
                            </div>

                            <div class="carousel-item h-100">
                                <img src="/images/galeria/super20 (3).jpg"
                                    class="galeria-item img-fluid h-100"
                                    style="width: auto; max-width: 100%; object-fit: contain;"
                                    alt="Slide 2">
                            </div>

                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#carrusel-club" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>

                        <button class="carousel-control-next" type="button" data-bs-target="#carrusel-club" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                            <span class="visually-hidden">Next</span>
                        </button>

                    </div>

                    <br>
                    <h3>Club de Emprendedores "Los Súper 20"</h3>
                    <p>El grupo de lectura Súper 20 de AMBI, contribuyo en mi amor por la lectura y el análisis critico, del mismo modo formo importantes alianzas y relaciones que se mantienen a pesar del tiempo.</p>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">

                    <div id="carrusel-ceramica" class="carousel slide" data-bs-ride="carousel">

                        <div class="carousel-indicators">
                            <button type="button"
                                    data-bs-target="#carrusel-ceramica"
                                    data-bs-slide-to="0"
                                    class="active"
                                    aria-current="true"
                                    aria-label="Slide 0"></button>

                            <button type="button"
                                    data-bs-target="#carrusel-ceramica"
                                    data-bs-slide-to="1"
                                    aria-label="Slide 1"></button>

                            <button type="button"
                                    data-bs-target="#carrusel-ceramica"
                                    data-bs-slide-to="2"
                                    aria-label="Slide 2"></button>

                        </div>

                        <div class="grs carousel-inner text-center" style="height: 50vh; border-radius: 20px; padding: 15px 0px;">

                            <div class="carousel-item active h-100">
                                <img src="/images/galeria/ceramica (1).jpg"
                                    class="galeria-item img-fluid h-100"
                                    style="width: auto; max-width: 100%; object-fit: contain;"
                                    alt="Slide 0">
                            </div>

                            <div class="carousel-item h-100">
                                <img src="/images/galeria/ceramica (2).jpg"
                                    class="galeria-item img-fluid h-100"
                                    style="width: auto; max-width: 100%; object-fit: contain;"
                                    alt="Slide 1">
                            </div>

                            <div class="carousel-item h-100">
                                <img src="/images/galeria/ceramica (1).png"
                                    class="galeria-item img-fluid h-100"
                                    style="width: auto; max-width: 100%; object-fit: contain;"
                                    alt="Slide 2">
                            </div>

                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#carrusel-ceramica" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>

                        <button class="carousel-control-next" type="button" data-bs-target="#carrusel-ceramica" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                            <span class="visually-hidden">Next</span>
                        </button>

                    </div>

                    <br>
                    <h3>Programa de Cerámica en frio</h3>
                    <p>Fortaleció y guio durante mucho tiempo mi interés en el arte, al interactuar con formas tridimensionales y la pintura.</p>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </section>

  <!-- franja 4 -->
  <section class="greend">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">

                    <div id="carrusel-titeres" class="carousel slide" data-bs-ride="carousel">

                        <div class="carousel-indicators">
                            <button type="button"
                                    data-bs-target="#carrusel-titeres"
                                    data-bs-slide-to="0"
                                    class="active"
                                    aria-current="true"
                                    aria-label="Slide 0"></button>

                            <button type="button"
                                    data-bs-target="#carrusel-titeres"
                                    data-bs-slide-to="1"
                                    aria-label="Slide 1"></button>

                            <button type="button"
                                    data-bs-target="#carrusel-titeres"
                                    data-bs-slide-to="2"
                                    aria-label="Slide 2"></button>

                        </div>

                        <div class="grs carousel-inner text-center" style="height: 50vh; border-radius: 20px; padding: 15px 0px;">

                            <div class="carousel-item active h-100">
                                <img src="/images/galeria/titeres (1).jpg"
                                    class="galeria-item img-fluid h-100"
                                    style="width: auto; max-width: 100%; object-fit: contain;"
                                    alt="Slide 0">
                            </div>

                            <div class="carousel-item h-100">
                                <img src="/images/galeria/titeres (2).JPG"
                                    class="galeria-item img-fluid h-100"
                                    style="width: auto; max-width: 100%; object-fit: contain;"
                                    alt="Slide 1">
                            </div>

                            <div class="carousel-item h-100">
                                <img src="/images/galeria/titeres (3).jpg"
                                    class="galeria-item img-fluid h-100"
                                    style="width: auto; max-width: 100%; object-fit: contain;"
                                    alt="Slide 2">
                            </div>

                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#carrusel-titeres" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>

                        <button class="carousel-control-next" type="button" data-bs-target="#carrusel-titeres" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                            <span class="visually-hidden">Next</span>
                        </button>

                    </div>

                    <br>
                    <h3>Taller de Títeres con enfoque ambiental</h3>
                    <p>Uno de los primeros grupos, a través de narrativas simples, y material reciclado se logro hacer muchas puestas en escena, en donde se desarrollaron muchos recursos de orador sin tener que estar al frente del publico.</p>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">

                    <div id="carrusel-tini" class="carousel slide" data-bs-ride="carousel">

                        <div class="carousel-indicators">
                            <button type="button"
                                    data-bs-target="#carrusel-tini"
                                    data-bs-slide-to="0"
                                    class="active"
                                    aria-current="true"
                                    aria-label="Slide 0"></button>

                            <button type="button"
                                    data-bs-target="#carrusel-tini"
                                    data-bs-slide-to="1"
                                    aria-label="Slide 1"></button>

                            <button type="button"
                                    data-bs-target="#carrusel-tini"
                                    data-bs-slide-to="2"
                                    aria-label="Slide 2"></button>

                            <button type="button"
                                    data-bs-target="#carrusel-tini"
                                    data-bs-slide-to="3"
                                    aria-label="Slide 3"></button>

                            <button type="button"
                                    data-bs-target="#carrusel-tini"
                                    data-bs-slide-to="4"
                                    aria-label="Slide 4"></button>

                            <button type="button"
                                    data-bs-target="#carrusel-tini"
                                    data-bs-slide-to="5"
                                    aria-label="Slide 5"></button>

                            <button type="button"
                                    data-bs-target="#carrusel-tini"
                                    data-bs-slide-to="6"
                                    aria-label="Slide 6"></button>

                        </div>

                        <div class="grs carousel-inner text-center" style="height: 50vh; border-radius: 20px; padding: 15px 0px;">

                            <div class="carousel-item active h-100">
                                <img src="/images/galeria/tini (1).jpg"
                                    class="galeria-item img-fluid h-100"
                                    style="width: auto; max-width: 100%; object-fit: contain;"
                                    alt="Slide 0">
                            </div>

                            <div class="carousel-item h-100">
                                <img src="/images/galeria/tini (2).jpg"
                                    class="galeria-item img-fluid h-100"
                                    style="width: auto; max-width: 100%; object-fit: contain;"
                                    alt="Slide 1">
                            </div>

                            <div class="carousel-item h-100">
                                <img src="/images/galeria/tini (3).jpg"
                                    class="galeria-item img-fluid h-100"
                                    style="width: auto; max-width: 100%; object-fit: contain;"
                                    alt="Slide 2">
                            </div>

                            <div class="carousel-item h-100">
                                <img src="/images/galeria/tini (4).jpg"
                                    class="galeria-item img-fluid h-100"
                                    style="width: auto; max-width: 100%; object-fit: contain;"
                                    alt="Slide 3">
                            </div>

                            <div class="carousel-item h-100">
                                <img src="/images/galeria/tini (5).jpg"
                                    class="galeria-item img-fluid h-100"
                                    style="width: auto; max-width: 100%; object-fit: contain;"
                                    alt="Slide 4">
                            </div>

                            <div class="carousel-item h-100">
                                <img src="/images/galeria/tini (6).jpg"
                                    class="galeria-item img-fluid h-100"
                                    style="width: auto; max-width: 100%; object-fit: contain;"
                                    alt="Slide 5">
                            </div>

                            <div class="carousel-item h-100">
                                <img src="/images/galeria/tini (7).JPG"
                                    class="galeria-item img-fluid h-100"
                                    style="width: auto; max-width: 100%; object-fit: contain;"
                                    alt="Slide 6">
                            </div>

                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#carrusel-tini" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>

                        <button class="carousel-control-next" type="button" data-bs-target="#carrusel-tini" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                            <span class="visually-hidden">Next</span>
                        </button>

                    </div>

                    <br>
                    <h3>Tierra de Niños</h3>
                    <p>A través de un enfoque ambiental, muchos niños lograron ser el activo en las tomas de decisiones, el planteamiento de retos y el descubrimiento de un mundo más amplio y cambiante.</p>
                    <br>
                </div>
            </div>
        </div>
      </div>
    </div>
  </section>

  <!-- contenido -->
  <section class="greend">
    <div class="container twt">
      <div class="row align-items-center">
        <div class="col-md-3" id="deco-5"></div>
        <div class="col-md-9 pd">
          <h2>Cada Experiencia Cuenta</h2>
          <br>
          <p>Gracias a las diferentes relaciones con grupos de trabajo he ido aprendiendo y modificando la forma de ver el mundo, actualmente continuo dialogando he intercambiando puntos de vista, ya que de esa manera nos ayudamos a ser una sociedad justa, integral y con miras al futuro.</p>
        </div>
      </div>
    </div>
  </section>

    <div id="visor">
        <img id="imagenGrande">
    </div>
    
{% include footer.html %}