---
---

{% include header.html %}

  <!-- Hero -->
  <section class="dip text-light d-flex align-items-center">
    <div class="container">
      <h2 class="wt display-4 fw-bold">Programas y Aplicaciones</h2>
      <p class="wt">Herramientas fundamentales para optimizar el trabajo y lograr la efectividad en el entorno de desarrollo</p>
    </div>
  </section>

  <!-- Separador -->
  <div class="navbar navbar-expand-lg navbar-dark stronger py-5">
    <div class="container"></div>
  </div>
  
  <!-- contenido -->
  <section class="grs">
    <div class="container twt">

      <div class="row" style="padding: 20px;">

          <div class="col-lg-4">
            <div class="alert alert-warning h-100" role="alert">
                <h3 class="text-warning">Paquete de Microsoft Office</h3>
                <hr>
                <p>Conocimientos avanzados en
                  <a class="btn btn-outline-warning badge badge-warning"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://www.youtube.com/watch?v=4OX6NCglOpY&list=PLaqQ75WLa7_U">Ms Word</a>, 
                  <a class="btn btn-outline-warning badge badge-warning"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://www.youtube.com/watch?v=OciiZeULrNU&list=PLUNkPiFSI_tU">Ms PowerPoint,</a> 
                  <a class="btn btn-outline-warning badge badge-warning"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://www.youtube.com/watch?v=BNJi1vJDQiU&list=PLDCQq86FbD6E">Ms Excel</a>, 
                  <a class="btn btn-outline-warning badge badge-warning"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://www.youtube.com/watch?v=o0c64SCuv4I&list=PLRs4UMrlWLyg">Ms Access</a>, además de las herramientas Online como <strong>OneDrive y hotmail.</strong></p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="alert alert-warning h-100" role="alert">
                <h3 class="text-warning">Google Suite</h3>
                <hr>
                <p>Manejo Avanzado en las herramientas de google como <strong>documentos, hojas de calculo, presentaciones, formularios, classroom, Youtube, y aplicaciones de reuniones y analítica web de Google.</strong></p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="alert alert-warning h-100" role="alert">
                <h3 class="text-warning">Programas de Diseño en vectores</h3>
                <hr>
                <p>Destreza avanzada de programas de vectores, como 
                  <a class="btn btn-outline-warning badge badge-warning"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://www.youtube.com/watch?v=SCu6LDIDSl8&list=PLLXFfXFE9gvg">Corel Draw</a>, <strong>Inskape, boxy svg, Canva, Xara3D y </strong>
                  <a class="btn btn-outline-warning badge badge-warning"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://www.youtube.com/watch?v=-ogDs643-hk&list=PLoXX9A85VLCK1nR5CSKde5AY5JkRHXy-A&index=3">Adobe Illustrator</a>.</p>
            </div>
          </div>

      </div>

      <div class="row" style="padding: 20px;">

          <div class="col-lg-4">
            <div class="alert alert-warning h-100" role="alert">
                <h3 class="text-warning">Programas de diseño en Pixeles</h3>
                <hr>
                <p>Manejo avanzado de 
                  <a class="btn btn-outline-warning badge badge-warning"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://www.youtube.com/watch?v=O5aAwhsC21E&list=PLdtYT9NLEF34">Adobe Photoshop</a>, <strong>Photopea, Gimp, Krita y Adobe InDesing.</strong></p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="alert alert-warning h-100" role="alert">
                <h3 class="text-warning">Contenido Digital</h3>
                <hr>
                <p>Manejo idóneo de aplicaciones de contenido como 
                  <a class="btn btn-outline-warning badge badge-warning"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://www.youtube.com/watch?v=R90gh5r8wFQ&list=PLNCbzX1j6yGc">Wordpress</a>, <strong>Sitios de Google, Google my Business, Blogger</strong> y 
                  <a class="btn btn-outline-warning badge badge-warning"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://www.youtube.com/watch?v=K3s386XUxog&list=PLDvC14Ip-MIw">Wix</a>.</p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="alert alert-warning h-100" role="alert">
                <h3 class="text-warning">Lenguajes informáticos</h3>
                <hr>
                <p>Experiencia activa con lenguajes informáticos: <strong>HTML5, CSS3, JavaScript, PHP</strong>; Además de diferentes framework como <strong>Larabel, Bootstrap, Angularjs</strong> entre otros</p>
            </div>
          </div>

      </div>

      <div class="row" style="padding: 20px;">

          <div class="col-lg-4">
            <div class="alert alert-warning h-100" role="alert">
                <h3 class="text-warning">Programas de edición de videos</h3>
                <hr>
                <p>Uso optimo de los siguientes programas <strong>Pinacle Studio, Filmora y OBS</strong></p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="alert alert-warning h-100" role="alert">
                <h3 class="text-warning">Programas de edición de Audio</h3>
                <hr>
                <p>Conocimiento intermedio de <strong>Adobe Audition y Audacity</strong></p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="alert alert-warning h-100" role="alert">
                <h3 class="text-warning">Estadística, Análisis de Datos y publicidad</h3>
                <hr>
                <p>Conocimiento intermedio - avanzado de los programas <strong>SPSS22, Google Adsense, Facebook business manager, Postoplan y Google analytics</strong></p>
            </div>
          </div>
          
      </div>

      <div class="row" style="padding: 20px;">


          <div class="col-lg-4">
            <div class="alert alert-warning h-100" role="alert">
                <h3 class="text-warning">Herramientas de Desarrollo Web</h3>
                <hr>
                <p>Manejo Profesional de <strong>VisualCode, SublimeText, Git, Gitlab, GitHub, Trello y Slack</strong></p>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="alert alert-warning h-100" role="alert">
                <h3 class="text-warning">Herramientas de Oficina</h3>
                <hr>
                <p>Manejo optimo de las siguientes herramientas: <strong>CmapTools, Diagrams, Pseint, Symbaloo, Duolingo, Rollapp, Prezy, Pixton, Scracht</strong>  entre otras</p>
            </div>
          </div>

      </div>

    </div>
  </section>

  <!-- Navbar 2 -->
    <nav class="navbar navbar-expand-lg navbar-dark prim py-4">
        <div class="container">
            <div class="row align-items-center text-center">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <p class="wt">Considero el dominio de un programa como algo pasajero, los programas, las maquinas, el sistema. todo cambia adaptándose a nuevos retos, lo importante es entonces comprender los procesos, al impartir clases, no enseño a manejar un programa, guio en el descubrimiento de los mismos; Para que en futuro sin importar las diferencias, se tenga la capacidad de manejar cada reto.</p>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </nav>

  {% include footer.html %}