---
---

{% include header.html %}


  <!-- Sobre mí -->
  <section id="sobre-mi">
    <div class="container twt">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h2>Presentación</h2>
          <p>
            Soy una persona competitiva y comprometida con maximizar el desempeño de equipos mediante estándares de calidad  y efectividad, asegurando el éxito de nuestras metas. Mi experiencia incluye un voluntariado de dos años en Alemania,  donde fortalecí habilidades interculturales trabajando en proyectos de inclusión y sostenibilidad. He trabajado como  Director de Proyectos y Director de Marketing, liderando estrategias innovadoras en diversas organizaciones.  Actualmente, me desempeño en el Instituto Superior Tecnológico Privado María Elena Moyano, donde contribuyo al  desarrollo académico y organizacional. Soy adaptable, aprendo rápido y disfruto colaborar con personas diversas para  generar soluciones innovadoras en educación y sostenibilidad. 
          </p>
        </div>
        <div class="col-md-6">
          <img class="img-fluid rounded shadow" src="/images/ft/miguelabaddp.jpg" alt="Foto profesional">
        </div>
      </div>
    </div>
  </section>

{% include footer.html %}
