---
---

{% include header.html %}

  <!-- Hero -->
  <section class="diper text-light d-flex align-items-center">
    <div class="container">
        <div class="col-md-8 border border-primary pd">
      <h2 class="wt display-4 fw-bold">Trabajo en Campo</h2>
      <p class="wt">A mi labor académica y como IT Project Manager, se le suma un fuerte interés por el campo, siendo que lo tecnológico y productivo constituyen dos grandes intereses que me motivan en mi día a día; estas son mis fortalezas en campo, aunque durante mi experiencia he tenido la oportunidad de interactuar con muchos más equipos y cultivos.</p>
    </div>
    </div>
  </section>


    
{% include footer.html %}