---
---

{% include header.html %}

  <!-- contenido con imagen -->
  <section class="grs">
    <div class="container">
      <div class="row twt align-items-center">
        <div class="col-md-7 pd">
          <h2>Manifiesto</h2>
          <p>Tengo el compromiso de aportar a mi sociedad, siendo responsable y coherente con los valores que he adoptado como parte de mi persona, los mismos que integran mi fe y mi labor, en tal sentido coloco como principal activo al ser humano, tratando de ayudar a crear un presente con visión integral y un futuro con justicia, dignidad y equidad.</p>
        </div>
        <div class="col-md-5" id="manifiesto"></div>
      </div>
    </div>
  </section>

  <!-- Separador -->
  <div class="navbar navbar-expand-lg navbar-dark stronger py-5">
    <div class="container"></div>
  </div>

  <!-- gal-2 -->
  <section class="gal-2">
    <div class="container">
      <div class="row gal-txt">
        <h2 class="wt">Pilares de Trabajo</h2>
        <br>
        <br>
        <p class="wt">En función de alcanzar la maxima efectividad los pilares que guian mis metas y objetivos son los siguientes:</p>
      </div>
      <br>
      <br>
      <div class="row gal-txt">
        <div class="col-md-4">
          <img class="icono" src="/images/icono/librometal.png" alt="">
          <br>
          <br>
          <h3 class="wt">Ética</h3>
          <p class="wt">centrada en el ser humano su bienestar y desarrollo  en diversidad.</p>
        </div>
        <div class="col-md-4">
          <img class="icono" src="/images/icono/escudometal.png" alt="">
          <br>
          <br>
          <h3 class="wt">Compromiso</h3>
          <p class="wt">en crear proyectos sostenibles y enfoques de trabajo agil.</p>
        </div>
        <div class="col-md-4">
          <img class="icono" src="/images/icono/avemetal.png" alt="">
          <br>
          <br>
          <h3 class="wt">Honor</h3>
          <p class="wt">al motivar la acción desinteresada y la cultura de la no violencia activa.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Separador -->
  <div class="navbar navbar-expand-lg navbar-dark stronger py-5">
    <div class="container"></div>
  </div>

  <!-- contenido -->
  <section class="grs">
    <div class="container twt">
      <div class="row align-items-center">
        <div class="col-md-9 pd">
          <h2>Valores y Aptitudes</h2>
          <br>
          <ul class="lista-liderazgo">
            <li>Liderazgo <span>para conducir bajo presión a un grupo de personas para el cumplimiento de objetivos.</span></li>
            <li>Puntualidad <span> en las asistencias, en el horario de llegada al centro de trabajo y en el cumplimiento de responsabilidades dentro de las fechas asignadas.</span></li>
            <li>Emprendedurismo <span>y desarrollo de oportunidades orientadas a beneficiar a la empresa.</span></li>
            <li>Respeto <span>hacia el personal y la clientela.</span></li>
            <li>Responsabilidad <span>en el cumplimiento de objetivos y en la ejecución de proyectos.</span></li>
            <li>Creatividad <span>para solucionar problemas y mejorar el servicio.</span></li>
            <li>Innovación <span>dentro del campo laboral para la implementación de nuevos procesos.</span></li>
            <li>Buen <span>desenvolvimiento al tratar con todo tipo de personas y con clientes insatisfechos.</span></li>
            <li>Honradez <span>en el manejo de dinero y en el registro de pagos.</span></li>
            <li>Capacidad <span>de concentración para el cumplimiento de funciones.</span></li>
            <li>Disciplina <span>dentro y fuera de la empresa.</span></li>
          </ul>
        </div>        
        <div class="col-md-3" id="deco"></div>
      </div>
    </div>
  </section>

  <!-- galeria -->
  <section class="grs">
    <div class="gal-3">
      <div class="container">
        
      </div>
    </div>
  </section>

  <!-- contenido -->
  <section class="grs">
    <div class="container twt">
      <div class="row align-items-center">
        <div class="col-md-9 pd">
          <h2>Curriculum Vitae</h2>
          <br>
          <p>Como referencia de conocimientos y a fin de obtener las certificaciones en orden cronológico, recomiendo observar mi hoja de vida, en caso de tener algún comentario o querer recomendaciones sobre como obtener alguno de las credenciales, también puede escribirme a mi correo electrónico.</p>
        </div>        
        <div class="col-md-3" id="deco"></div>
      </div>
    </div>
  </section>

  <!-- galeria -->
  <section class="grs">
    <div class="gal-3">
      <div class="container">
        
      </div>
    </div>
  </section>
  

{% include footer.html %}
