---
---

{% include header.html %}

<section class="grs">
    <div class="row align-items-center ">
        <div class="col-md-7 twt pd">
            <h1>Manifiesto</h1>
            <p>Tengo el compromiso de aportar a mi sociedad, siendo responsable y coherente con los valores que he adoptado como parte de mi persona, los mismos que integran mi fe y mi labor, en tal sentido coloco como principal activo al ser humano, tratando de ayudar a crear un presente con visión integral y un futuro con justicia, dignidad y equidad.</p>
    </div>
    <div class="col-md-5" id="manifiesto"></div>
</div>
</section>

  

{% include footer.html %}
