---
---

{% include header.html %}

  <!-- Hero -->
  <section class="dipe text-light d-flex align-items-center">
    <div class="container">
      <h2 class="wt display-4 fw-bold">Idiomas</h2>
      <p class="wt">La puerta a descubrir nuevas culturas</p>
    </div>
  </section>

  <!-- Separador -->
  <div class="navbar navbar-expand-lg navbar-dark stronger py-5">
    <div class="container"></div>
  </div>
  
  <!-- contenido -->
  <section class="grs">
    <div class="container twt">
      <div class="row align-items-center">

        <div class="col-md-6 align-items-center text-center pd">
            <div class="card border border-danger">
                <div class="card-body">

                    <h2 class="card-title text-danger">Alemán &#x1F1E9;&#x1F1EA;</h2>
                    <p class="card-text">
                        Mi experiencia en Alemania me permitió desarrollar el alemán desde una perspectiva práctica, académica e intercultural. Durante dos años de voluntariado en Kiebitzhof, conviví y trabajé en un entorno diverso que fortaleció mi comunicación con hablantes nativos y mi comprensión de las particularidades lingüísticas del noroeste alemán. Esta experiencia también despertó mi interés por la Einfachsprache como recurso para una comunicación más accesible e integradora.
                    </p>

                    <div id="carrusel-aleman" class="carousel slide" data-bs-ride="carousel">

                        <div class="carousel-indicators">
                            <button type="button"
                                    data-bs-target="#carrusel-aleman"
                                    data-bs-slide-to="0"
                                    class="active"
                                    aria-current="true"
                                    aria-label="Slide 1"></button>

                            <button type="button"
                                    data-bs-target="#carrusel-aleman"
                                    data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>

                            <button type="button"
                                    data-bs-target="#carrusel-aleman"
                                    data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>

                            <button type="button"
                                    data-bs-target="#carrusel-aleman"
                                    data-bs-slide-to="3"
                                    aria-label="Slide 4"></button>

                        </div>

                        <div class="grs carousel-inner text-center" style="height: 50vh; border-radius: 20px; padding: 15px 0px;">

                            <div class="carousel-item active h-100">
                                <img src="https://lh3.googleusercontent.com/SHTiVryWe8994PBGnwQtpuQ67agIENFBNFHoPFPspbt6by-5x4hG2g0xG4WZs0c=w0"
                                    class="galeria-item img-fluid h-100"
                                    style="width: auto; max-width: 100%; object-fit: contain;"
                                    alt="Slide 1">
                            </div>

                            <div class="carousel-item h-100">
                                <img src="https://lh3.googleusercontent.com/159GBvfUNfES1RNi3UH4-6fHdX5m6077Ms46nwK7bTaohHmunMQ6ENNCfuVLyME=w0"
                                    class="galeria-item img-fluid h-100"
                                    style="width: auto; max-width: 100%; object-fit: contain;"
                                    alt="Slide 2">
                            </div>

                            <div class="carousel-item h-100">
                                <img src="https://lh3.googleusercontent.com/RH9w7V44LQRzmMv_8VKiQgByrStyxEVyF5iCnsdFrk9nLaZmOsKikF2VSZikMPQ=w0"
                                    class="galeria-item img-fluid h-100"
                                    style="width: auto; max-width: 100%; object-fit: contain;"
                                    alt="Slide 3">
                            </div>

                            <div class="carousel-item h-100">
                                <img src="https://lh3.googleusercontent.com/cKzVShN6zMGoOG180nr22_hH31jlTPy1JXGar-vWd2SHA2tAkuHf1loH_wAtgzA=w0"
                                    class="galeria-item img-fluid h-100"
                                    style="width: auto; max-width: 100%; object-fit: contain;"
                                    alt="Slide 4">
                            </div>

                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#carrusel-aleman" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>

                        <button class="carousel-control-next" type="button" data-bs-target="#carrusel-aleman" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                            <span class="visually-hidden">Next</span>
                        </button>

                    </div>

                    <p></p>

                    <div class="progress">                       
                        <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    <p></p>

                    <a class="btn btn-danger"
                    href="https://www.appsheet.com/start/c06f1198-0430-4ee5-b35e-63524b56f5ab#appName=MiguelAbadEspinoza-3940983-23-07-22&group=%5B%5D&page=card&sort=%5B%7B%22Column%22%3A%22Certifica%22%2C%22Order%22%3A%22Descending%22%7D%5D&table=Alem%C3%A1n&view=Alem%C3%A1n"
                    role="button"
                    target="_blank"
                    rel="noopener noreferrer">
                        Ver todos
                    </a>

                    <a class="btn btn-danger"
                    href="https://herr-abad.github.io/"
                    role="button"
                    target="_blank"
                    rel="noopener noreferrer">
                        Lernportal
                    </a>

                </div>
            </div>
        </div>

        <div class="col-md-6 pd align-items-center text-center">
            <div class="card border border-warning">
                <div class="card-body">
                    <h2 class="card-title text-warning">Inglés &#x1F1EC;&#x1F1E7;</h2>
                    <p class="card-text">Mi experiencia como docente de inglés combina formación lingüística, práctica pedagógica y el uso de recursos digitales. La formación realizada en Sommer-VHS y mi certificación como Duolingo Certified Educator fortalecieron mis competencias comunicativas y metodológicas. Durante 2026, he trabajado con estudiantes de distintos niveles en instituciones educativas de Lima, promoviendo el desarrollo de las cuatro habilidades lingüísticas mediante una enseñanza clara, práctica y orientada a situaciones reales.</p>
                    
                    <div id="carrusel-ingles" class="carousel slide" data-bs-ride="carousel">

                        <div class="carousel-indicators">
                            <button type="button"
                                    data-bs-target="#carrusel-ingles"
                                    data-bs-slide-to="0"
                                    class="active"
                                    aria-current="true"
                                    aria-label="Slide 0"></button>

                            <button type="button"
                                    data-bs-target="#carrusel-ingles"
                                    data-bs-slide-to="1"
                                    aria-label="Slide 1"></button>

                            <button type="button"
                                    data-bs-target="#carrusel-ingles"
                                    data-bs-slide-to="2"
                                    aria-label="Slide 2"></button>

                            <button type="button"
                                    data-bs-target="#carrusel-ingles"
                                    data-bs-slide-to="3"
                                    aria-label="Slide 3"></button>

                        </div>

                        <div class="grs carousel-inner text-center" style="height: 50vh; border-radius: 20px; padding: 15px 0px;">

                            <div class="carousel-item active h-100">
                                <img src="https://lh3.googleusercontent.com/EpkAlVvWvjFYWx_pC-mpuEbLfh4NjxOiJcruox_7l9KX6n7DJNQyRy04OSVPgYzq=w0"
                                    class="galeria-item img-fluid h-100"
                                    style="width: auto; max-width: 100%; object-fit: contain;"
                                    alt="Slide 0">
                            </div>

                            <div class="carousel-item h-100">
                                <img src="https://lh3.googleusercontent.com/Ujro5SHEgR46uXX8OH9m8xhqRAAlWwkwt6t-7qiHACaoKBXVh8AG38njd0S_8xJF=w0"
                                    class="galeria-item img-fluid h-100"
                                    style="width: auto; max-width: 100%; object-fit: contain;"
                                    alt="Slide 1">
                            </div>

                            <div class="carousel-item h-100">
                                <img src="https://lh3.googleusercontent.com/CvrDpSppqo7koXqh_vC3u0qucVaxiFKo5DyGj2B3qk-pUkUXU1uvj4oVBDt9O8k=w0"
                                    class="galeria-item img-fluid h-100"
                                    style="width: auto; max-width: 100%; object-fit: contain;"
                                    alt="Slide 2">
                            </div>

                            <div class="carousel-item h-100">
                                <img src="https://lh3.googleusercontent.com/9p_8gNGPmDF84OCTWVBjq0IN7rDsqrs_iOJAA_XykQapSKodDl2maTQfLeM6Qsc=w0"
                                    class="galeria-item img-fluid h-100"
                                    style="width: auto; max-width: 100%; object-fit: contain;"
                                    alt="Slide 2">
                            </div>

                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#carrusel-ingles" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>

                        <button class="carousel-control-next" type="button" data-bs-target="#carrusel-ingles" data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                            <span class="visually-hidden">Next</span>
                        </button>

                    </div>

                    <p></p>

                    <div class="progress">                       
                        <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    
                    <p></p>

                    <a type="button" class="btn btn-warning"
                        href="https://www.appsheet.com/start/c06f1198-0430-4ee5-b35e-63524b56f5ab#appName=MiguelAbadEspinoza-3940983-23-07-22&group=%5B%5D&page=card&sort=%5B%7B%22Column%22%3A%22Certifica%22%2C%22Order%22%3A%22Descending%22%7D%5D&table=Ingles&view=Ingl%C3%A9s"
                        role="button" target="_blank"
                        rel="noopener noreferrer">
                        Ver todos
                    </a>
                    <a type="button" class="btn btn-warning"
                        href="https://miguel-abad.github.io/english/"
                        role="button" target="_blank"
                        rel="noopener noreferrer">
                        Repositorio
                    </a>
                </div>
            </div>
        </div>

      </div>
    </div>
  </section>

  <div id="visor">
    <img id="imagenGrande">
  </div>

    
{% include footer.html %}