---
---

{% include header.html %}


  <!-- Hero -->
  <section class="hero text-light d-flex align-items-center">
    <div class="container">
      <h1 class="display-4 fw-bold">Lider en Gestión de Proyectos Informáticos y Desarrollo Sostenible</h1>
      <p class="lead wt">Comprometido con la excelencia, calidad y efectividad en cada proyecto.</p>
    </div>
  </section>

  <!-- Separador -->
  <div class="navbar navbar-expand-lg navbar-dark stronger py-5">
    <div class="container"></div>
  </div>

  <!-- contenido con imagen -->
  <section id="sobre-mi">
    <div class="container twt">
      <div class="row align-items-center">
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <h2>Presentación</h2>
          <p>
            Soy una persona competitiva y comprometida con maximizar el desempeño de equipos mediante estándares de calidad  y efectividad, asegurando el éxito de nuestras metas. Mi experiencia incluye un voluntariado de dos años en Alemania,  donde fortalecí habilidades interculturales trabajando en proyectos de inclusión y sostenibilidad. He trabajado como  Director de Proyectos y Director de Marketing, liderando estrategias innovadoras en diversas organizaciones.  Actualmente, me desempeño en el Instituto Superior Tecnológico Privado María Elena Moyano, donde contribuyo al  desarrollo académico y organizacional. Soy adaptable, aprendo rápido y disfruto colaborar con personas diversas para  generar soluciones innovadoras en educación y sostenibilidad. 
          </p>
        </div>
        <div class="col-md-6" id="presentacion"></div>
      </div>
    </div>
  </section>

  <!-- Separador -->
  <div class="navbar navbar-expand-lg navbar-dark stronger py-5">
    <div class="container"></div>
  </div>

  <!-- lucy -->
  <section class="lucy text-light d-flex align-items-center">
    <div class="container">
    </div>
  </section>

  <!-- Separador -->
  <div class="navbar navbar-expand-lg navbar-dark stronger py-5">
    <div class="container"></div>
  </div>

  <!-- contenido -->
  <section id="sobre-mi">
    <div class="container twt">
      <div class="row align-items-center">
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <h2>Descripción</h2>
          <p>
             Me considero una persona capaz, con disposición de aportar lo mejor de mi en el cumplimiento de objetivos, predispuesta a aprender y compartir con el personal, sumamente flexible en un puesto de trabajo a la vez dinámico y eficiente en la resolución de problemas y conflictos.
          </p>
        </div>        
        <div class="col-md-6" id="descripcion"></div>
      </div>
    </div>
  </section>

<!-- Separador -->
  <div class="navbar navbar-expand-lg navbar-dark stronger py-5">
    <div class="container"></div>
  </div>

 <!-- contenido con imagen -->
  <section id="sobre-mi">
    <div class="container twt">
      <div class="row align-items-center">
        <div class="col-md-6" id="especialidades"></div>
        <div class="col-md-5">
          <h2>Especialidades</h2>
          <p>Considero como algunas de mis mejores habilidades el compromiso de ser efectivo y maximizar las resultados, en tal sentido me he capacitado constantemente a fin de contribuir desde diferentes sectores, tales como:
            <ul>
              <li>Oratoria y Liderazgo</li>
              <li>Informática</li>
              <li>Medio Ambiente</li>
              <li>Educación</li>
              <li>Habilidades transversales</li>
            </ul>
          logrando varios reconocimientos durante mi trayectoria.</p>
        </div>
        <div class="col-md-1"></div>        
      </div>
    </div>
  </section>

 <!-- Separador -->
  <div class="navbar navbar-expand-lg navbar-dark stronger py-5">
    <div class="container"></div>
  </div>

  <!-- contenido -->
  <section id="sobre-mi">
    <div class="container twt">
      <div class="row align-items-center">
        <div class="col-md-1"></div>
        <div class="col-md-5">
          <h2>Más Información</h2>
          <p>Para encontrar información especifica sobre un sector de mi campo laboral, o contrastar la información aquí presentada, lo invito a consultar las redes sociales especificas para ese tema, como Likedin, Facebook, Computrabajo, Youtube, entre otros</p>
        </div>
        <div class="col-md-6" id="informacion"></div>      
      </div>
    </div>
  </section>

{% include footer.html %}

