---
---

{% include header.html %}

  <!-- green -->
  <section class="green">
    <div class="container">
      <div class="row center">
        <div class="col-md-6 foto">
        </div>
        <div class="col-md-6 twt">
          <h2>Miguel Evaristo Abad Espinoza</h2>
          <h3>Lider en Gestión de Proyectos con enfoque en Innovación Educativa y Sostenibilidad</h3>
          <hr>
          <h4>Celular:</h4>
          <p>+51 955825992</p>
          <h4>E-mail:</h4>
          <p>migueleabade@gmail.com</p>
          <h4>Dirección:</h4>
          <p>Sector 3 Grupo 11 Manzana D Lote 1, Villa El Salvador, Lima, Perú - 15836</p>
          <h4>Fecha de Nacimiento:</h4>
          <p>Noviembre 28, 1996</p>
          <hr>
        </div>
      </div>
    </div>
  </section>

  <!-- Separador -->
  <div class="navbar navbar-expand-lg navbar-dark stronger py-5">
    <div class="container">
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Holis</h1>
      </div>
    </div>
  </div>


{% include footer.html %}
