---
---

{% include header.html %}

  <!-- green -->
  <section class="green">
    <div class="container">
      <div class="row center">
        <div class="col-md-6 foto">
        </div>
        <div class="col-md-6 twt pd">
          <h2>Miguel Evaristo Abad Espinoza</h2>
          <h3>Lider en Gestión de Proyectos con enfoque en Innovación Educativa y Sostenibilidad</h3>
          <hr>
          <h4>Celular:</h4>
          <p>+51 955825992</p>
          <h4>E-mail:</h4>
          <p>migueleabade@gmail.com</p>
          <h4>Dirección:</h4>
          <p>Sector 3 Grupo 11 Manzana D Lote 1, Villa El Salvador, Lima, Perú - 15836</p>
          <h4>Fecha de Nacimiento:</h4>
          <p>Noviembre 28, 1996</p>
          <hr>
        </div>
      </div>
    </div>
  </section>

  <!-- Separador 1-->
  <div class="navbar navbar-expand-lg navbar-dark stronger py-5">
    <div class="container">
    </div>
  </div>

  <!-- Separador 2-->
  <div class="navbar navbar-expand-lg navbar-dark py-5">
    <div class="container">
    </div>
  </div>

  <!-- Separador 3-->
  <div class="navbar navbar-expand-lg navbar-dark py-5">
    <div class="container">
    </div>
  </div>

  <div class="container">
    <div class="row twt pd">
      <div class="col-md-12">
        <h2>Reseña</h2>
        <h3>Medio Ambiente</h3>
        <p>Me he desempeñado durante más de una decada en el desarrollo de nuevas competencias a través de charlas de capacitación en temas diversos como por ejemplo "Agricultura Urbana", "Tratamiento fitosanitario" o "Elaboración de Abonos Orgánicos" para la ONG Familias En Acción; además de haber sido parte de varios proyectos de índole ambiental en Lima Sur, trabajando con diferentes metodologías, entre las que se encuentra "Tierra de Niños".</p>
        <p>A partir de la experiencia de mi voluntariado en Alemania, en donde trabaje en Kibietzhof, un huerto orgánico en donde participan personas con habilidades diferentes, el intercambio con diferentes experiencias de voluntarios de diferentes partes del mundo, así como de los distintos seminarios de formación, he construido una visión amplia del desarrollo sostenible y la importancia de su aplicación como parte del progreso, el mismo que comparti en La Casa de Plantas y Flores como director de Marketing, donde participe en la elaboración del libro "Agricultura Urbana desde los Hogares" y en donde tambien obtuve el diploma "Experto en Agroalimentación. Sector Hortifruticola 4.0"</p>
      </div>
      <div class="col-md-12">
        <h3>Informática</h3>
        <p>Mi trayectoria profesional se ha desarrollado de manera progresiva en los ámbitos educativo, tecnológico y de gestión. Inicié mi labor como docente de Computación e Informática en el Taller Productivo y de Capacitación Empresarial N.º 1 de Oasis, desempeñándome para la Municipalidad Metropolitana de Lima, experiencia que marcó el inicio de mi vocación por la formación técnica y digital.</p>
        <p>Posteriormente, me desempeñé como docente del área de Educación para el Trabajo en la especialidad de informática en la IEP Julio C. Tello de Oasis. Más adelante, asumí el cargo de Coordinador General del colegio Nuestra Señora del Rosario, fortaleciendo mis competencias en liderazgo académico y gestión institucional. Asimismo, ejercí la docencia en Educación para el Trabajo en los colegios American Systems y Mi Dulce Jesús, donde impartí cursos de  ofimática, diseño gráfico en vectores y píxeles, diseño web, programación, así como animación 3D.</p>
        <p>De manera paralela, he estado a cargo de diversos diplomados para el Instituto de Educación Superior Tecnológico Privado María Elena Moyano, entre los que destacan: <em>MS Office Profesional</em>, <em>Diseño Gráfico</em>, <em>Pedagogía Digital</em> y <em>Periodismo Escolar</em>, contribuyendo a la capacitación y actualización de profesionales en el uso estratégico de la tecnología.</p>
        <p>En el ámbito empresarial, me desempeñé inicialmente como Director de Proyectos en la empresa Orange612, participando en la planificación, coordinación y desarrollo de soluciones digitales. Posteriormente, asumí el cargo de Director de Marketing en la startup Ayphu, donde lideré estrategias de posicionamiento, comunicación digital y crecimiento de marca.</p>
        <p>Mi vínculo con el Instituto de Educación Superior Tecnológico Privado María Elena Moyano ha sido especialmente significativo, ya que inicié mi formación profesional como estudiante de la institución, para luego integrarme como docente de la carrera de Desarrollo de Sistemas. Como parte de mi desarrollo profesional, la institución me brindó la oportunidad de capacitarme en Alemania, donde realicé diversos cursos en la <em>Volkshochschule</em> de Bielefeld, fortaleciendo mis competencias técnicas, pedagógicas y lingüísticas.</p>
        <p>Actualmente, me desempeño como Coordinador del Área Académica de Desarrollo de Sistemas en el Instituto de Educación Superior Tecnológico Privado María Elena Moyano. Desde este rol, lidero la planificación académica, el acompañamiento docente y la mejora continua de los procesos formativos. Asimismo, como parte de mi labor institucional, desarrollo contenido educativo que se difunde a través de mi canal de YouTube: <a href="https://www.youtube.com/@herr-abad" target="_blank">Herr Abad</a>, orientado a la formación tecnológica y al aprendizaje digital.</p>
      </div>
    </div>
  </div>

  <!-- Separador-->
  <div class="navbar navbar-expand-lg navbar-dark stronger py-5">
    <div class="container">
      <h2 class="wt">Acontesimientos importantes</h2>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12 twt pd">
        <table>
          <tr>
            <td class="td-1">
              Marzo 2005 – Diciembre 2013
            </td>
            <td class="td-2"></td>
            <td class="td-3">
              Participación en diversos cursos y talleres formativos que contribuyeron a la definición de mi proyecto de vida y sentaron las bases de mi futuro desarrollo personal y profesional.
            </td>
          </tr>

          <tr>
            <td class="td-1">
              Julio 2017 – Diciembre 2018
            </td>
            <td class="td-2"></td>
            <td class="td-3">
              Proceso de preparación para el voluntariado internacional, participando en el programa de <em>Tandem</em> para el aprendizaje del idioma alemán, el conocimiento de la cultura y el intercambio de experiencias con voluntarios Norte–Sur que colaboraron en radio. Asimismo, se desarrolló un seminario de encuentro entre exvoluntarios de Perú y Ecuador, realizado en este último país.
            </td>
          </tr>

          <tr>
            <td class="td-1">
              Enero 2019 – Noviembre 2020
            </td>
            <td class="td-2"></td>
            <td class="td-3">
              Participación en el Voluntariado Sur–Norte como representante de Radio Stereo Villa, experiencia que permitió realizar diversos cursos de formación y compartir aprendizajes significativos, fortaleciendo vínculos con distintas organizaciones internacionales.
            </td>
          </tr>

          <tr>
            <td class="td-1">
              17 de diciembre de 2021
            </td>
            <td class="td-2"></td>
            <td class="td-3">
              Contraje matrimonio con Briggitte Melgarejo, con quien formé un hogar basado en valores y compromiso, y junto a quien comparto la crianza de nuestros tres hijos.
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <!-- Separador-->
  <div class="navbar navbar-expand-lg navbar-dark stronger py-5">
    <div class="container">
      <h2 class="wt">Galeria</h2>
    </div>
  </div>

  <!-- gal-1 -->
  <section class="gal-1 text-light d-flex align-items-center">
    <div class="container">
    </div>
  </section>

{% include footer.html %}
