/* Configuracion Inicial */

p, h2, h3, h4, li, a{
  font-family:helvetica-w01-light,helvetica-w02-light,sans-serif;
  text-decoration: none;
  margin:none;
}
h1{
  font-weight: bold;
}
h2{
  color:#0000aa;
  font-weight: 700 !important;
}
h3{
  color:#0281ff;
  font-size:19px;
  font-weight: 500 !important;
}
h4{
  color:#00abad;
  font-size:15px;
  font-weight: 600 !important;
}
a, p{
  color:#3d3d3d;
}
a:hover{
  color:#00abad;
}
ul{
  color:#00abad !important;
  padding: 0px 0px 0px 30px !important;
}
span{
  color:#3d3d3d !important;
}

.stronger{
  background-color: #0000aa;
  color:white;
  font-weight: 600;
}
.prim, section{
  background-color: #0281ff;
}
.grs{
  background-color: rgb(220, 220, 200) !important;
  height: -webkit-fill-available;
}
section, .pd{
  padding: 50px;
}
.wt{
  color:white !important;
}
.twt{
  background: white;
}
.col-md-7{
  padding: 80px;  
}
.col-md-4{
  height: 35vh;
}
.col-md-2{
  padding: 20px 0px 0px 20px;
}

.center{
  position: absolute;   /* o fixed / relative según el caso */
  z-index: 9999;
  width: 90%;
  margin-top:120px;
}

/* banner con Imagenes */
.hero {
  background: linear-gradient(rgb(0, 4, 255, 0.8), rgba(1, 26, 217, 0.8)),
              url("/images/fondoazul.jpg") center/cover no-repeat;
  background-attachment: fixed;
  height: 82vh;
}

.foter{
  background: linear-gradient(rgb(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
              url("/images/serpiente_park.jpg") center/cover no-repeat;
  height: -webkit-fill-available;
  min-height: 650px;
}
.back-to-top{
  border-radius: 100%;
  float: right !important;
}
.der{
  display: flex !important;
  justify-content: flex-end !important; /* empuja el contenido a la derecha */
}

/* Secciones con imagenes */
#presentacion{
  background: url("/images/ft/miguelabaddp.jpg") center/cover no-repeat;
  height: -webkit-fill-available;
  min-height: 500px;
}
#descripcion{
  background: url("/images/ft/sustentacion.JPG") center/cover no-repeat;
  height: -webkit-fill-available;
  min-height: 500px;
}
#especialidades{
  background: url("/images/ft/ucv-exposicion.JPG") center/cover no-repeat;
  height: -webkit-fill-available;
  min-height: 500px;
}
#informacion{
  background: url("/images/ft/reforestacion.jpg") center/cover no-repeat;
  height: -webkit-fill-available;
  min-height: 500px;
}
.lucy {
  background:
    url("/images/fondo/luzenelcamino.jpg") center / cover no-repeat;
  background-attachment: fixed;
  height: 82vh;
}
.green {
  background:
    url("/images/fondo/bosque.jpg") center / cover no-repeat;
  background-attachment: fixed;
  height: 60vh;
}
.foto {
  background:
    url("/images/ft/foto.jpg") center / cover no-repeat;
}
.gal-1{
  background: linear-gradient(rgb(0, 171, 173, 0.8), rgba(0, 171, 173, 0.8)),
              url("/images/fondo/raices.jpg") center/cover no-repeat;
  background-attachment: fixed;
  height: 82vh;
}
.gal-2{
  background: linear-gradient(rgb(0, 171, 173, 0.5), rgba(0, 171, 173, 0.5)),
              url("/images/fondo/lagoenberlin.jpg") center/cover no-repeat;
  background-attachment: fixed;
  height: -webkit-fill-available;
}
.gal-3{
  background: linear-gradient(rgb(0, 171, 173, 0.5), rgba(0, 171, 173, 0.5)),
              url("/images/fondo/vinedoentrabentraback.jpg") center/cover no-repeat;
  background-attachment: fixed;
  height: 82vh;
}
.gal-txt{
  background: linear-gradient(rgb(0, 4, 255, 0.8), rgba(1, 26, 217, 0.8));
  padding: 30px;
  text-align: center !important;
}
#manifiesto{
  background: url("/images/ft/mamut.jpg") center/cover no-repeat;
  height: -webkit-fill-available;
  min-height: 500px;
}
#deco{
  background: url("/images/ft/capillasantiagoapostol.jpg") right/cover no-repeat;
  height: -webkit-fill-available;
  min-height: 500px;
}
.icono{
  height: fit-content;
  width: 100px;
}


/* Hover dropdown SOLO en pantallas grandes */
@media (min-width: 800px) {
  .navbar .dropdown-menu {
    display: none;
    opacity: 0;
    transition: opacity 0.2s ease;
  }

  .navbar .dropdown:hover > .dropdown-menu {
    display: block;
    opacity: 1;
  }
}

/* Tabla */
table{
  border-collapse: collapse;
  width: 100%;
}

.td-1{
  text-align: right;
  padding: 8px;
  width:25%;
}
.td-2{
  border-left: 2px solid #0000dd;
}
.td-3{
  padding: 8px;

}
