<img src="images/portafolio/ayphu (1).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ayphu"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/ayphu (1).jpg"
    alt="Diseño 1">

<img src="images/portafolio/ayphu (2).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ayphu"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/ayphu (2).jpg"
    alt="Diseño 2">

<img src="images/portafolio/ayphu (4).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ayphu"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/ayphu (4).jpg"
    alt="Diseño 3">

<img src="images/portafolio/ayphudiv (1).png"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ayphu"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/ayphudiv (1).png"
    alt="Diseño 4">

<img src="images/portafolio/ayphudiv (2).png"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ayphu"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/ayphudiv (2).png"
    alt="Diseño 5">

<img src="images/portafolio/ayphudiv (3).png"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ayphu"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/ayphudiv (3).png"
    alt="Diseño 1">

<img src="images/portafolio/ayphudiv (4).png"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ayphu"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/ayphudiv (4).png"
    alt="Diseño 1">

<img src="images/portafolio/ayphum (1).png"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ayphu"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/ayphum (1).png"
    alt="Diseño 1">

<img src="images/portafolio/ayphum (4).png"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ayphu"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/ayphum (4).png"
    alt="Diseño 1">

<img src="images/portafolio/ayphum (5).png"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ayphu"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/ayphum (5).png"
    alt="Diseño 1">

<img src="images/portafolio/ayphum (6).png"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ayphu"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/ayphum (6).png"
    alt="Diseño 1">

<img src="images/portafolio/ayphume (1).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ayphu"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/ayphume (1).jpg"
    alt="Diseño 1">

<img src="images/portafolio/ayphume (2).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ayphu"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/ayphume (2).jpg"
    alt="Diseño 1">

<img src="images/portafolio/ayphume (3).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ayphu"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/ayphume (3).jpg"
    alt="Diseño 1">

<img src="images/portafolio/ayphume (4).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ayphu"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/ayphume (4).jpg"
    alt="Diseño 1">

<img src="images/portafolio/ayphume (5).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ayphu"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/ayphume (5).jpg"
    alt="Diseño 1">

<img src="images/portafolio/ayphume (6).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ayphu"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/ayphume (6).jpg"
    alt="Diseño 1">

<img src="images/portafolio/ayphumed (1).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ayphu"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/ayphumed (1).jpg"
    alt="Diseño 1">

<img src="images/portafolio/ayphume (7).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="auphy"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/ayphume (7).jpg"
    alt="Diseño 1">

<img src="images/portafolio/ayphumed (2).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ayphu"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/ayphumed (2).jpg"
    alt="Diseño 1">

<img src="images/portafolio/ayphumed (3).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ayphu"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/ayphumed (3).jpg"
    alt="Diseño 1">

<img src="images/portafolio/ayphucl (1).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ayphu"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/ayphucl (1).jpg"
    alt="Diseño 1">

<img src="images/portafolio/ayphucl (1).png"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ayphu"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/ayphucl (1).png"
    alt="Diseño 1">

<img src="images/portafolio/ayphucl (2).png"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ayphu"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/ayphucl (2).png"
    alt="Diseño 1">

<img src="images/portafolio/ayphulz.png"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ayphu"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/ayphulz.png"
    alt="Diseño 1">

<img src="images/portafolio/jct (5).png"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="jct"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/jct (5).png"
    alt="Diseño 1">

<img src="images/portafolio/jct (3).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="jct"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/jct (3).PNG"
    alt="Diseño 1">

<img src="images/portafolio/jct (4).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="jct"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/jct (4).PNG"
    alt="Diseño 1">

<img src="images/portafolio/jct (1).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="jct"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/jct (1).PNG"
    alt="Diseño 1">

<img src="images/portafolio/jct (2).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="jct"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/jct (2).PNG"
    alt="Diseño 1">

<img src="images/portafolio/jct (6).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="jct"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/jct (6).PNG"
    alt="Diseño 1">

<img src="images/portafolio/jct (7).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="jct"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/jct (7).PNG"
    alt="Diseño 1">

<img src="images/portafolio/jct (8).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="jct"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/jct (8).PNG"
    alt="Diseño 1">

<img src="images/portafolio/jcto (3).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="jct"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/jcto (3).jpg"
    alt="Diseño 1">

<img src="images/portafolio/jcto (4).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="jct"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/jcto (4).jpg"
    alt="Diseño 1">

<img src="images/portafolio/jcto (2).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="jct"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/jcto (2).jpg"
    alt="Diseño 1">

<img src="images/portafolio/jcto (1).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="jct"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/jcto (1).jpg"
    alt="Diseño 1">

<img src="images/portafolio/jcto (5).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="jct"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/jcto (5).jpg"
    alt="Diseño 1">

<img src="images/portafolio/jct (5).png"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="jct"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/jct (5).png"
    alt="Diseño 1">

<img src="images/portafolio/nsrvpor.jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="nsr"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/nsrvpor.jpg"
    alt="Diseño 1">

<img src="images/portafolio/nsrv.jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="nsr"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/nsrv.jpg"
    alt="Diseño 1">

<img src="images/portafolio/nsrv.PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="nsr"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/nsrv.PNG"
    alt="Diseño 1">

<img src="images/portafolio/nsrvport.jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="nsr"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/nsrvport.jpg"
    alt="Diseño 1">

<img src="images/portafolio/nsrvnin.jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="nsr"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/nsrvnin.jpg"
    alt="Diseño 1">

<img src="images/portafolio/nsrvalt (2).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="nsr"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/nsrvalt (2).jpg"
    alt="Diseño 1">

<img src="images/portafolio/nsrvalt (1).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="nsr"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/nsrvalt (1).jpg"
    alt="Diseño 1">

<img src="images/portafolio/nsrvalt (1).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="nsr"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/nsrvalt (1).jpg"
    alt="Diseño 1">

<img src="images/portafolio/nsrba (1).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="nsr"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/nsrba (1).jpg"
    alt="Diseño 1">

<img src="images/portafolio/nsrba (2).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="nsr"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/nsrba (2).jpg"
    alt="Diseño 1">

<img src="images/portafolio/nsrba (3).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="nsr"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/nsrba (3).jpg"
    alt="Diseño 1">

<img src="images/portafolio/nsrba (4).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="nsr"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/nsrba (4).jpg"
    alt="Diseño 1">

<img src="images/portafolio/nsrba (6).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="nsr"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/nsrba (6).jpg"
    alt="Diseño 1">

<img src="images/portafolio/nsrba (5).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="nsr"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/nsrba (5).jpg"
    alt="Diseño 1">

<img src="images/portafolio/nsrbas.jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="nsr"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/nsrbas.jpg"
    alt="Diseño 1">

<img src="images/portafolio/nsrl (3).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="nsr"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/nsrl (3).jpg"
    alt="Diseño 1">

<img src="images/portafolio/nsrl (4).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="nsr"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/nsrl (4).jpg"
    alt="Diseño 1">

<img src="images/portafolio/nsrl (5).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="nsr"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/nsrl (5).jpg"
    alt="Diseño 1">

<img src="images/portafolio/lcdpf (6).png"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="externos"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/lcdpf (6).png"
    alt="Diseño 1">

<img src="images/portafolio/psico (1).JPG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="externos"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/psico (1).JPG"
    alt="Diseño 1">

<img src="images/portafolio/psico (2).JPG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="externos"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/psico (2).JPG"
    alt="Diseño 1">

<img src="images/portafolio/psico (3).JPG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="externos"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/psico (3).JPG"
    alt="Diseño 1">

<img src="images/portafolio/ccpives.jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="externos"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/ccpives.jpg"
    alt="Diseño 1">

<img src="images/portafolio/trab (11).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="otros"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/trab (11).jpg"
    alt="Diseño 1">

<img src="images/portafolio/trab (10).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="otros"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/trab (10).jpg"
    alt="Diseño 1">

<img src="images/portafolio/trab (15).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="otros"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/trab (15).jpg"
    alt="Diseño 1">

<img src="images/portafolio/trab (1).png"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="otros"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/trab (1).png"
    alt="Diseño 1">

<img src="images/portafolio/trab (17).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="otros"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/trab (17).jpg"
    alt="Diseño 1">

<img src="images/portafolio/trab (12).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="otros"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/trab (12).jpg"
    alt="Diseño 1">

<img src="images/portafolio/trab (13).JPG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="otros"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/trab (13).JPG"
    alt="Diseño 1">

<img src="images/portafolio/trab (14).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="otros"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/trab (14).jpg"
    alt="Diseño 1">

<img src="images/portafolio/trab (16).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="otros"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/trab (16).jpg"
    alt="Diseño 1">

<img src="images/portafolio/Publicidad de Disñeo Grafico.jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="otros"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/Publicidad de Disñeo Grafico.jpg"
    alt="Diseño 1">

<img src="images/portafolio/trab (7).JPG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="otros"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/trab (7).JPG"
    alt="Diseño 1">

<img src="images/portafolio/trab (2).JPG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="otros"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/trab (2).JPG"
    alt="Diseño 1">

<img src="images/portafolio/trab (1).JPG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="otros"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/trab (1).JPG"
    alt="Diseño 1">

<img src="images/portafolio/trab (3).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="otros"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/trab (3).jpg"
    alt="Diseño 1">

<img src="images/portafolio/trab (18).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="otros"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/trab (18).jpg"
    alt="Diseño 1">

<img src="images/portafolio/trab (2).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="otros"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/trab (2).PNG"
    alt="Diseño 1">

<img src="images/portafolio/trab (3).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="otros"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/trab (3).PNG"
    alt="Diseño 1">

<img src="images/portafolio/trab (4).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="otros"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/trab (4).jpg"
    alt="Diseño 1">

<img src="images/portafolio/trab (5).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="otros"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/trab (5).jpg"
    alt="Diseño 1">

<img src="images/portafolio/trab (8).JPG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="otros"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/trab (8).JPG"
    alt="Diseño 1">
