<img src="images/portafolio/1 (1).png"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/1 (1).png"
    alt="titulo a nombre del instituto">

<img src="images/portafolio/0 (3).jpeg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/0 (3).jpeg"
    alt="carrera tecnica a nombre del instituto">

<img src="images/portafolio/1 (2).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/1 (2).PNG"
    alt="ensamblaje de computadoras y redes">

<img src="images/portafolio/1 (3).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/1 (3).PNG"
    alt="modulo 1 operador informatico">

<img src="images/portafolio/1 (4).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/1 (4).PNG"
    alt="ensamblaje 2 meses">

<img src="images/portafolio/1 (5).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/1 (5).jpg"
    alt="talleres de la carrera de un año">

<img src="images/portafolio/1 (2).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/1 (2).jpg"
    alt="talleres de verano ismem">

<img src="images/portafolio/1 (5).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/1 (5).PNG"
    alt="marketing digital">

<img src="images/portafolio/1 (6).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/1 (6).PNG"
    alt="Administracion de sistemas de información">


<img src="images/portafolio/1 (7).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/1 (7).jpg"
    alt="cobranza electronica">

<img src="images/portafolio/1 (7).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/1 (7).PNG"
    alt="modulo 1 operador informatico">

<img src="images/portafolio/1 (8).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/1 (8).jpg"
    alt="certificado de operador informatico">

<img src="images/portafolio/1 (8).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/1 (8).PNG"
    alt="ms profesional">

<img src="images/portafolio/1 (9).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/1 (9).jpg"
    alt="gestion de comercio electronico">

<img src="images/portafolio/1 (9).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/1 (9).PNG"
    alt="ofice que aprenderas">

<img src="images/portafolio/1 (10).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/1 (10).jpg"
    alt="certificado de community manager">

<img src="images/portafolio/1 (10).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/1 (10).PNG"
    alt="powerpoint que aprenderas">

<img src="images/portafolio/1 (11).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/1 (11).jpg"
    alt="certificado de soporte tecnico informatico">

<img src="images/portafolio/1 (11).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/1 (11).PNG"
    alt="excel que aprenderas">

<img src="images/portafolio/1 (12).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/1 (12).jpg"
    alt="gestion comercial y contable">

<img src="images/portafolio/1 (12).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/1 (12).PNG"
    alt="certificado community manager">

<img src="images/portafolio/1 (14).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/1 (14).jpg"
    alt="bolante carrera de 3 años">

<img src="images/portafolio/1 (13).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/1 (13).PNG"
    alt="Diseño grafico profesional">

<img src="images/portafolio/4 (2).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/4 (2).PNG"
    alt="Diseño ingles jovenmes y adultos">

<img src="images/portafolio/4 (3).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/4 (3).PNG"
    alt="Diseño grafico profesional">

<img src="images/portafolio/4 (4).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/4 (4).PNG"
    alt="Diseño marketing personal">

<img src="images/portafolio/4 (5).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/4 (5).PNG"
    alt="Diseño ensamblaje de computadoras y redes">

<img src="images/portafolio/4 (6).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/4 (6).PNG"
    alt="Diseño marketing personal">

<img src="images/portafolio/3 (20).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/3 (20).PNG"
    alt="Diseño talleres office">

<img src="images/portafolio/3 (21).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/3 (21).PNG"
    alt="Diseño office profesional">

<img src="images/portafolio/3 (22).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/3 (22).PNG"
    alt="Diseño office profesional">

<img src="images/portafolio/3 (23).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/3 (23).PNG"
    alt="Diseño office profesional">

<img src="images/portafolio/3 (24).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/3 (24).PNG"
    alt="Diseño office profesional">

<img src="images/portafolio/1 (33).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/1 (33).PNG"
    alt="Diseño ensamblaje de computadoras y redes">

<img src="images/portafolio/2 (1).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/2 (1).PNG"
    alt="Diseño marketing digital rebaja">

<img src="images/portafolio/2 (2).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/2 (2).PNG"
    alt="Diseño excel rebaja">

<img src="images/portafolio/2 (3).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/2 (3).PNG"
    alt="Diseño excel aplicado rebaja">

<img src="images/portafolio/2 (4).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/2 (4).PNG"
    alt="Diseño ensamblaje rebaja">

<img src="images/portafolio/3 (1).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/3 (1).PNG"
    alt="office profesional">

<img src="images/portafolio/3 (2).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/3 (2).PNG"
    alt="talleres oratoria">

<img src="images/portafolio/3 (3).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/3 (3).PNG"
    alt="Diseño marketing personal">

<img src="images/portafolio/3 (4).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/3 (4).PNG"
    alt="Diseño marketing personal">

<img src="images/portafolio/3 (5).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/3 (5).PNG"
    alt="Diseño marketing personal">

<img src="images/portafolio/3 (6).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/3 (6).PNG"
    alt="Diseño marketing digital">

<img src="images/portafolio/3 (7).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/3 (7).PNG"
    alt="Diseño duolingo">

<img src="images/portafolio/3 (8).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/3 (8).PNG"
    alt="Diseño duolingo taller">

<img src="images/portafolio/3 (9).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/3 (9).PNG"
    alt="Diseño taller de ingles">

<img src="images/portafolio/3 (10).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/3 (10).PNG"
    alt="Diseño ensamblaje">

<img src="images/portafolio/3 (11).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/3 (11).PNG"
    alt="Diseño grafico profesional ">

<img src="images/portafolio/3 (12).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/3 (12).PNG"
    alt="Diseño grafico profesional">

<img src="images/portafolio/3 (13).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/3 (13).PNG"
    alt="Diseño grafico profesioanl">

<img src="images/portafolio/3 (14).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/3 (14).PNG"
    alt="Diseño grafico profesional">

<img src="images/portafolio/3 (15).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/3 (15).PNG"
    alt="Diseño grafico profesional">

<img src="images/portafolio/3 (16).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/3 (16).PNG"
    alt="Diseño grafico profesional">

<img src="images/portafolio/3 (17).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/3 (17).PNG"
    alt="Diseño grafico elefante">

<img src="images/portafolio/1 (28).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/1 (28).jpg"
    alt="Diseño ensamblaje de computadoras y redes">

<img src="images/portafolio/1 (29).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/1 (29).jpg"
    alt="Diseño ms office profesional">


<img src="images/portafolio/1 (25).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/1 (25).jpg"
    alt="Diseño bolante gestion comercial y contable">

<img src="images/portafolio/1 (26).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/1 (26).PNG"
    alt="Diseño dj profesional">

<img src="images/portafolio/1 (25).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/1 (25).PNG"
    alt="Diseño dj profesional amarillo">

<img src="images/portafolio/1 (27).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/1 (27).PNG"
    alt="Diseño dj profesional">

<img src="images/portafolio/1 (28).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/1 (28).PNG"
    alt="Diseño amarillo dj profesional">

<img src="images/portafolio/1 (15).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/1 (15).jpg"
    alt="bolante de carreras de un año">

<img src="images/portafolio/1 (16).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/1 (16).jpg"
    alt="bolante cursos de extención">

<img src="images/portafolio/1 (15).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/1 (15).PNG"
    alt="ms office profesional">

<img src="images/portafolio/1 (16).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/1 (16).PNG"
    alt="Diseño grafico profesional">

<img src="images/portafolio/1 (17).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/1 (17).jpg"
    alt="Diseño de bolante ismemtaller inicia ahora">

<img src="images/portafolio/1 (17).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/1 (17).PNG"
    alt="Diseño certificado cobranza electronica">

<img src="images/portafolio/1 (18).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/1 (18).jpg"
    alt="Diseño bolante idiomas y marinera">

<img src="images/portafolio/1 (18).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/1 (18).PNG"
    alt="Diseño comercio electronico">
    
<img src="images/portafolio/1 (19).PNG"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="ismemtaller"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/1 (19).PNG"
    alt="ms profesional">

