<img src="images/portafolio/casa (1).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="lcpf"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/casa (1).jpg"
    alt="Diseño publicitario">

<img src="images/portafolio/casa (2).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="lcpf"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/casa (2).jpg"
    alt="Diseño publicitario 2">

<img src="images/portafolio/casa (5).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="lcpf"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/casa (5).jpg"
    alt="Diseño de la portada del libro">

<img src="images/portafolio/casa (3).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="lcpf"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/casa (3).jpg"
    alt="Diseño de fotografias">

<img src="images/portafolio/casa (4).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="lcpf"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/casa (4).jpg"
    alt="Diseño de fotografias 2">

<img src="images/portafolio/dlcpf (1).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="lcpf"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/dlcpf (1).jpg"
    alt="Diseño de fotografias 3">

<img src="images/portafolio/dlcpf (1).png"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="lcpf"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/dlcpf (1).png"
    alt="Diseño de portadas fb">

<img src="images/portafolio/dlcpf (2).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="lcpf"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/dlcpf (2).jpg"
    alt="Diseño de portadas de fb 2">

<img src="images/portafolio/dlcpf (3).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="lcpf"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/dlcpf (3).jpg"
    alt="Diseño de portada 3">

<img src="images/portafolio/dlcpf (4).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="lcpf"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/dlcpf (4).jpg"
    alt="Diseño de infografia">

<img src="images/portafolio/dlcpf (5).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="lcpf"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/dlcpf (5).jpg"
    alt="Diseño mariposa">

<img src="images/portafolio/dlcpf (6).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="lcpf"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/dlcpf (6).jpg"
    alt="Diseño de fotografias 5">

<img src="images/portafolio/dlcpf (7).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="lcpf"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/dlcpf (7).jpg"
    alt="Diseño de fotografias 6">

<img src="images/portafolio/lcdpf (1).png"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="lcpf"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/lcdpf (1).png"
    alt="Diseño bautizo 1">

<img src="images/portafolio/lcdpf (2).png"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="lcpf"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/lcdpf (2).png"
    alt="Diseño bautizo 2">

<img src="images/portafolio/lcdpf (3).png"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="lcpf"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/lcdpf (3).png"
    alt="Diseño bautizo 3">

<img src="images/portafolio/lcdpf (4).png"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="lcpf"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/lcdpf (4).png"
    alt="Diseño bautizo 4">

<img src="images/portafolio/lcdpf (5).png"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="lcpf"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/lcdpf (5).png"
    alt="Diseño bautizo 5">

<img src="images/portafolio/lcdpf (7).png"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="lcpf"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/lcdpf (7).png"
    alt="Diseño bautizo 6">

<img src="images/portafolio/dlcpf (8).jpg"
    class="img-fluid rounded shadow-sm galeria-item"
    data-institucion="lcpf"
    data-bs-toggle="modal"
    data-bs-target="#galeriaModal"
    data-img="images/portafolio/dlcpf (8).jpg"
    alt="Diseño de producto">